#siteDescription {

    font-style: italic;
    font-family: Gotham;
    text-align: center;
    font-weight: 300;
}

.newsName {

    font-family: Gotham;
    font-weight: 600;
    padding-left: 30px;
    margin-top: 50px;
}

.homePageNews {

    height: 600px;
    overflow: hidden;
}


    .sideNewsText p{

        padding-left: 10px;
    }

    .sideNewsText h5{
        
        padding-left: 10px;
    }

    .imgAbt img {

        margin-top: 5px;
    }
    
    #homePage a {
        
                color: black;
    }
        
    #homePage a:hover {
        
                text-decoration: none;
    }


    @media only screen and (max-width: 500px) {
        .homePageNews {
            height: 300px;
            overflow: hidden;
        }
    }
