<div id="homePage">
    <br>
    <h2 id="siteDescription">Collecting all the top news from major news stations</h2>
    

    <!-- BBC -->
    <h2 class="newsName">BBC</h2>
    <hr>
    <div class="col-md-12" ng-controller="BBCNewsCtrl">
        <div class="row no-gutters">
            <!-- big news -->
            <div class="col-12 col-sm-12 col-md-8">
                
                <a ng-href="{{allNews.articles[0].url}}">
                <div class="col-md-12 col-sm-12 homePageNews">
                    
                    <img width="100%"  ng-src="{{allNews.articles[0].urlToImage}}" class="img-responsive">

                </div>
                <h6 style="padding-left: 15px;">{{allNews.articles[0].publishedAt | date: 'HH:mm'}}</h6>
                <h2 style="font-family: Merriweather; padding-left: 15px;">{{allNews.articles[0].title}}</h2>
                <p style="padding-left: 15px;">{{allNews.articles[0].description}}</p>
                 </a>

            </div>

            <!--most recent -->
            <div class="col-6 col-md-4 col-sm-12 ">
                
                    <h3 style="padding: 15px; font-family: Gotham; font-weight:600; color: rgb(99, 99, 99);">Top BBC news</h3>
                    <hr>
                    <div  ng-repeat="news in allNews.articles | limitTo: 4">
                        <a ng-href="{{allNews.articles[$index + 1].url}}">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="imgAbt">
                                    <img width="220" height="120" ng-src="{{allNews.articles[$index + 1].urlToImage}}" />
                                </div>
                            </div>
                            <div class="col-md-8 sideNewsText">
                                <p>{{allNews.articles[$index + 1].publishedAt | date: 'HH:mm'}}</p>
                                <h5>{{allNews.articles[$index + 1].title}}</h5>
                            </div>
                        </div>
                        </a>
                        
                    
                    </div>
            
            </div>
        </div> 

    </div>


    <!-- AlJazeera -->
    <h2 class="newsName">Al Jazeera</h2>
    <hr>
    <div class="col-md-12" ng-controller="AlJazeeraCtrl">
        <div class="row no-gutters">
            <!-- big news -->
            <div class="col-12 col-sm-12 col-md-8">
                
                <a ng-href="{{allNews.articles[0].url}}">
                <div class="col-md-12 col-sm-12 homePageNews">
                    
                    <img width="100%"  ng-src="{{allNews.articles[0].urlToImage}}" class="img-responsive">

                </div>
                <h6 style="padding-left: 15px;">{{allNews.articles[0].publishedAt | date: 'HH:mm'}}</h6>
                <h2 style="font-family: Merriweather; padding-left: 15px;">{{allNews.articles[0].title}}</h2>
                <p style="padding-left: 15px;">{{allNews.articles[0].description}}</p>
                 </a>

            </div>

            <!--most recent -->
            <div class="col-6 col-md-4 col-sm-12 ">
                
                    <h3 style="padding: 15px; font-family: Gotham; font-weight:600; color: rgb(99, 99, 99);">Top Al Jazeera news</h3>
                    <hr>
                    <div  ng-repeat="news in allNews.articles | limitTo: 4">
                        <a ng-href="{{allNews.articles[$index + 1].url}}">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="imgAbt">
                                    <img width="220" height="120" ng-src="{{allNews.articles[$index + 1].urlToImage}}" />
                                </div>
                            </div>
                            <div class="col-md-8 sideNewsText">
                                <p>{{allNews.articles[$index + 1].publishedAt | date: 'HH:mm'}}</p>
                                <h5>{{allNews.articles[$index + 1].title}}</h5>
                            </div>
                        </div>
                        </a>
                        
                    
                    </div>
            
            </div>
        </div> 

    </div>

    <!-- Daily Mail -->
    <h2 class="newsName">Daily Mail</h2>
    <hr>
    <div class="col-md-12" ng-controller="DailyMailCtrl">
        <div class="row no-gutters">
            <!-- big news -->
            <div class="col-12 col-sm-12 col-md-8">
                
                <a ng-href="{{allNews.articles[0].url}}">
                <div class="col-md-12 col-sm-12 homePageNews">
                    
                    <img width="100%"  ng-src="{{allNews.articles[0].urlToImage}}" class="img-responsive">

                </div>
                <h6 style="padding-left: 15px;">{{allNews.articles[0].publishedAt | date: 'HH:mm'}}</h6>
                <h2 style="font-family: Merriweather; padding-left: 15px;">{{allNews.articles[0].title}}</h2>
                <p style="padding-left: 15px;">{{allNews.articles[0].description}}</p>
                 </a>

            </div>

            <!--most recent -->
            <div class="col-6 col-md-4 col-sm-12 ">
                
                    <h3 style="padding: 15px; font-family: Gotham; font-weight:600; color: rgb(99, 99, 99);">Top Daily Mail news</h3>
                    <hr>
                    <div  ng-repeat="news in allNews.articles | limitTo: 4">
                        <a ng-href="{{allNews.articles[$index + 1].url}}">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="imgAbt">
                                    <img width="220" height="120" ng-src="{{allNews.articles[$index + 1].urlToImage}}" />
                                </div>
                            </div>
                            <div class="col-md-8 sideNewsText">
                                <p>{{allNews.articles[$index + 1].publishedAt | date: 'HH:mm'}}</p>
                                <h5>{{allNews.articles[$index + 1].title}}</h5>
                            </div>
                        </div>
                        </a>
                        
                    
                    </div>
            
            </div>
        </div> 

    </div>

    <!-- CNN -->
    <h2 class="newsName">CNN</h2>
    <hr>
    <div class="col-md-12" ng-controller="CNNCtrl">
        <div class="row no-gutters">
            <!-- big news -->
            <div class="col-12 col-sm-12 col-md-8">
                
                <a ng-href="{{allNews.articles[0].url}}">
                <div class="col-md-12 col-sm-12 homePageNews">
                    
                    <img width="100%"  ng-src="{{allNews.articles[0].urlToImage}}" class="img-responsive">

                </div>
                <h6 style="padding-left: 15px;">{{allNews.articles[0].publishedAt | date: 'HH:mm'}}</h6>
                <h2 style="font-family: Merriweather; padding-left: 15px;">{{allNews.articles[0].title}}</h2>
                <p style="padding-left: 15px;">{{allNews.articles[0].description}}</p>
                 </a>

            </div>

            <!--most recent -->
            <div class="col-6 col-md-4 col-sm-12 ">
                
                    <h3 style="padding: 15px; font-family: Gotham; font-weight:600; color: rgb(99, 99, 99);">Top CNN news</h3>
                    <hr>
                    <div  ng-repeat="news in allNews.articles | limitTo: 4">
                        <a ng-href="{{allNews.articles[$index + 1].url}}">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="imgAbt">
                                    <img width="220" height="120" ng-src="{{allNews.articles[$index + 1].urlToImage}}" />
                                </div>
                            </div>
                            <div class="col-md-8 sideNewsText">
                                <p>{{allNews.articles[$index + 1].publishedAt | date: 'HH:mm'}}</p>
                                <h5>{{allNews.articles[$index + 1].title}}</h5>
                            </div>
                        </div>
                        </a>
                        
                    
                    </div>
            
            </div>
        </div> 

    </div>

    <!-- The WSJ -->
    <h2 class="newsName">The Wall Street Journal</h2>
    <hr>
    <div class="col-md-12" ng-controller="WSJCtrl">
        <div class="row no-gutters">
            <!-- big news -->
            <div class="col-12 col-sm-12 col-md-8">
                
                <a ng-href="{{allNews.articles[0].url}}">
                <div class="col-md-12 col-sm-12 homePageNews">
                    
                    <img width="100%"  ng-src="{{allNews.articles[0].urlToImage}}" class="img-responsive">

                </div>
                <h6 style="padding-left: 15px;">{{allNews.articles[0].publishedAt | date: 'HH:mm'}}</h6>
                <h2 style="font-family: Merriweather; padding-left: 15px;">{{allNews.articles[0].title}}</h2>
                <p style="padding-left: 15px;">{{allNews.articles[0].description}}</p>
                 </a>

            </div>

            <!--most recent -->
            <div class="col-6 col-md-4 col-sm-12 ">
                
                    <h3 style="padding: 15px; font-family: Gotham; font-weight:600; color: rgb(99, 99, 99);">Top WSJ news</h3>
                    <hr>
                    <div  ng-repeat="news in allNews.articles | limitTo: 4">
                        <a ng-href="{{allNews.articles[$index + 1].url}}">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="imgAbt">
                                    <img width="220" height="120" ng-src="{{allNews.articles[$index + 1].urlToImage}}" />
                                </div>
                            </div>
                            <div class="col-md-8 sideNewsText">
                                <p>{{allNews.articles[$index + 1].publishedAt | date: 'HH:mm'}}</p>
                                <h5>{{allNews.articles[$index + 1].title}}</h5>
                            </div>
                        </div>
                        </a>
                        
                    
                    </div>
            
            </div>
        </div> 

    </div>

   <!-- Reuters -->
   <h2 class="newsName">Reuters</h2>
   <hr>
   <div class="col-md-12" ng-controller="ReutersCtrl">
       <div class="row no-gutters">
           <!-- big news -->
           <div class="col-12 col-sm-12 col-md-8">
               
               <a ng-href="{{allNews.articles[0].url}}">
               <div class="col-md-12 col-sm-12 homePageNews">
                   
                   <img width="100%"  ng-src="{{allNews.articles[0].urlToImage}}" class="img-responsive">

               </div>
               <h6 style="padding-left: 15px;">{{allNews.articles[0].publishedAt | date: 'HH:mm'}}</h6>
               <h2 style="font-family: Merriweather; padding-left: 15px;">{{allNews.articles[0].title}}</h2>
               <p style="padding-left: 15px;">{{allNews.articles[0].description}}</p>
                </a>

           </div>

           <!--most recent -->
           <div class="col-6 col-md-4 col-sm-12 ">
               
                   <h3 style="padding: 15px; font-family: Gotham; font-weight:600; color: rgb(99, 99, 99);">Top Reuters news</h3>
                   <hr>
                   <div  ng-repeat="news in allNews.articles | limitTo: 4">
                       <a ng-href="{{allNews.articles[$index + 1].url}}">
                       <div class="row">
                           <div class="col-md-4">
                               <div class="imgAbt">
                                   <img width="220" height="120" ng-src="{{allNews.articles[$index + 1].urlToImage}}" />
                               </div>
                           </div>
                           <div class="col-md-8 sideNewsText">
                               <p>{{allNews.articles[$index + 1].publishedAt | date: 'HH:mm'}}</p>
                               <h5>{{allNews.articles[$index + 1].title}}</h5>
                           </div>
                       </div>
                       </a>
                       
                   
                   </div>
           
           </div>
       </div> 

   </div>

        

      

  

</div>